/*aquí se hace el codigo general como lo hariamos en css normal*/
body{
    background-color: $fondo_detras_container;
    color:$color_txt_base;
}

/*general*/
.container{
 background-color: $color-container;
 -webkit-box-shadow: 3px -1px 28px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -1px 28px -2px rgba(0,0,0,0.75);
box-shadow: 3px -1px 28px -2px rgba(0,0,0,0.75);
}

/*Navbar*/
/*slider*/
/*Section 1 */
/*Section 2 */
.section2{
    //estilos seccion 2
    img{
        width: 20%;
    }
}
/*Section 3 */
/*Section 4 */
/*Section 5 */
/*Section 6 */
/*Section 7 */
/*Section 8 */
/*Section 9 */
/*Section 10 */