/*aquí se hace el codigo general como lo hariamos en css normal*/
* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body{
    background-color: $fondo_detras_container;
    color:$color_txt_base;
}

/*general*/
.container{
	background-color: $color-container;
	@include box-shadow();
	position: relative;
    margin-top: -104px;
    border-radius: 13px;

}

.content {
    position: absolute;
    width: 100%;
}
/*Navbar*/
#navbar {
    background-color: $color-navbar;
    border-color: $color-navbar;
    z-index: 1;
    width: $full-width;
    position: fixed;
    .navbar-color {
  width: 100%;
  height: 78px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0; }

}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid grey;
    width: 90%;
}


.navbar-default {
    .navbar-nav {
        li>a {
            color: $color-text-nav;
            .glyphicon {
                margin-right: 5px;
            }
        }
        .btn-navbar {
		    background-color: #e91e63;
		    /* margin-top: 7px; */
		    color: white;
		    height: 50px;
		    border-radius: 5px;
		    /* padding: 20px; */
		}
    }
    .navbar-brand {
        color: $color-text-nav
    }
}

/*slider*/
.carousel-caption {
    left: $margin-carousel;
    right: $margin-carousel;
    padding-bottom: 330px;
    .btn-page {
        @include buttonpage();
    }
    h3 {
        margin-bottom: 40px;
    }
}
/*Section 1 */
.section1{
	padding-bottom: 40px;
	padding-top: 40px;
	span {
        font-size: 50px;
    }
    .glyphicon-th {
        color: #de4a3a;
    }
    .glyphicon-th-list {
        color: #55abed;
    }
    .glyphicon-align-justify {
        color: #e84d88;
    }
    p {
        font-size: 16px;
    }
    h4{
    	padding-bottom: 20px;
    	color:black;
    }
}

/*Section 2 */
.section2{
    //estilos seccion 2
    position: relative;
    background-image: url(../img/img_city.jpg);
    height: 140vh;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    color:$blanco;
    height: 100%;
    img{
        width: 81%;
    }
    h1{
    	margin-top: 80px;
    	margin-bottom: 40px;
    }
    iframe{
    	padding-bottom: 10px;
    	border: 2px solid $blanco;
    }
}
/*Section 3 */
.section3 {
    .text-products {
        padding: 80px;
    }
    margin-top: -18px;
    
    p {
        margin-top: 30px;
        color: #e82a69;
        cursor: pointer;
    }
    h1{
    	color:$titulos-destacados;
    }
    h4 {
        color: #3c4757;
    }
    h5 {
        line-height: 25px;
    }
    .glyphicon {
        cursor: pointer;
    }
    .content-models {
        padding-bottom: 20px;
    }
    .photo-container {
        padding: 15px;
        background-color: $blanco;
        img {
            border-radius: 5px;
            margin-top: -40px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            transition: all .2s ease-in-out;
        }
        img:hover {
            cursor: pointer;
            margin-top: -55px;
            @include box-shadow();
        }
    }
    .photo-info {
        margin-top: -10px;
        position: relative;
        padding: 25px;
        background-color: $blanco;
    }
    .product-wrapper {
        @include wrapper-shadow();
    }
}

/*portafolio*/
.portafolio {
    background-color: white;
    padding-top: 80px;
    h4 {
        margin-bottom: 80px;
        color: gray;
    }
    // inicio para overlay
    #box {
        box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);
        background: url(../img/img_portafolio_1.jpg);
        background-size: cover;
        overflow: hidden;
        border-radius: 10px;
    }
    #box-1 {
        background: url(../img/img_portafolio_2.jpg);
        @extend #box;
        border-radius:2%;
    }
    #box-2 {
        background: url(../img/img_portafolio_3.jpg);
        @extend #box;
        border-radius:2%;
    }
    #box-3 {
        background: url(../img/img_portafolio_4.jpg);
        @extend #box;

    }
    #box-4 {
        background: url(../img/img_portafolio_5.jpg);
        @extend #box;
        border-radius:2%;
    }
    #box-5 {
        background: url(../img/img_portafolio_6.jpg);
        @extend #box;
        border-radius:2%;
    }
    #box-6 {
        background: url(../img/img_portafolio_7.jpg);
        @extend #box;
        border-radius:2%;
    }
    #box-7 {
        background: url(../img/img_portafolio_8.jpg);
        @extend #box;
        border-radius:2%;
    }
    #overlay {
        background: rgba(0, 0, 0, .60);
        text-align: center;
        padding: 41px 0 62px 0;
        opacity: 0;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
    }
    #box:hover #overlay {
        opacity: 1;
    }
    #plus {
        font-weight: 900;
        color: rgba(255, 255, 255, .85);
        font-size: 89px;
        .btn-fux {
            background-color: $color-btn;
            @include btn-photos();
        }
        .btn-blue {
            background-color: $second-photos;
            @include btn-photos();
        }
        .btn-orange {
            background-color: $third-photos;
            @include btn-photos();
        }
        h6 {
            margin-bottom: -20px;
            font-size: 20px;
        }
    }
    .row{
    	padding-bottom:20px;
    }
	h1{
		color:$titulos-destacados;
		margin-top: 54%;
	}
}

/*Section 4 */
.section4{
	h1{
		color:$titulos-destacados;
		margin-top: 17%;
    	margin-bottom: 2%;
	}
	h6{
		margin-bottom: 20px;
	}
		.sub{
			margin-bottom: 80px;
		}
		img{
			margin-bottom:52%;
			@include box-shadow();
		}
        .faceb {
            color: $fbook;
        }
        .google {
            color: $gplus;
        }
        .twitter {
            color: $tuiter;
        }
        .linked {
            color: $linkedin;
        }
        .pint {
            color: $pinter;
        }
        .drib {
            color: $dribbble;
        }
        .git {
        	color: $github;
        }
    
}
/*Section 5 */
.section5 {
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
    .content-active {
        background-color: white;
        border-radius: 10px;
        height: 600px;
        @include box-shadow();
    }
    .content-cost {
        .money {
            font-size: 100px;
        }
        .money-symbol {
            margin-bottom: 50px;
            position: absolute;
        }
    }
    .button-buy-wrapper {
        margin-top: 50px;
        .btn-buy {
            background-color: #e84d88;
            color: white;
            padding: 20px;
            border-radius: 5px;
        }
    }
    h1,.money{
    	color:$titulos-destacados;
    }
}
/*Section 6 */
.section6{
	margin-top: 60px;
    margin-bottom: 60px;
	img{
		width: 37%;
    	margin-top: 37px;
		@include box-shadow();
	}
	h1,h4{
		color:$titulos-destacados;
	}
}
/*Section 7 */
.section7 {
    background-image: url(../img/about.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    .title-subscribe {
        color: white;
        padding-top: 80px;
    }
    .subtitle-subscribe {
        color: white;
        padding-bottom: 80px;
    }
    .btn-subscribe {
        background-color: $color-btn;
        margin-top: 7px;
        color: white;
        border-radius: 5px;
        border: $color-btn;
        cursor: pointer;
    }
}
/*Section 8 */
.section8 {
    padding-top: 80px;
    padding-bottom: 80px;
    .img-blog {
        @include box-shadow();
        border-radius: 10px;
        margin-top: 40px;
    }
    .text-fux {
        color: $first-photos;
    }
    .text-cel {
        color: $second-photos;
    }
    .text-oran {
        color: $third-photos;
    }
    .read-more {
        cursor: pointer;
        color: #23527c;
    }
    h1{
    	color:$titulos-destacados;
    }
}

/*contacto*/
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/img_city.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        margin-top: 80px;
        margin-bottom: 40px;
        color: white;
    }
    h4 {
        line-height: 25px;
        color: white;
    }
    .text-icon {
        color: white;
        .icon-pin {
            color: white;
            padding: 5px;
        }
    }
    .detail {
        color: white;
    }
    .content-contact {
        background-color: white;
        padding: 50px;
        border-radius: 10px;
    }
    .title-contact {
        background-color: $color-btn;
        color: white;
        text-align: center;
        margin-top: -70px;
        padding: 20px;
        border-radius: 10px;
        font-size: 20px;
    }
    .form-text {
        margin-bottom: 30px;
    }
    textarea {
        border-radius: 7px;
        border: 1px solid #e3e3e3;
        resize: none;
    }
    .btn-send {
        text-align: right;
        margin-top: 30px;
        .btn-send-ms {
            background-color: $color-btn;
            color: white;
            height: 50px;
            border-radius: 5px;
            padding: 20px;
        }
    }
}

/*Section 9 */
.section9 {
    background-color: $back-footer;
    padding-top: 20px;
    .title-footer {
        color: $blanco;
    }
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .blanco{
    	color:$blanco;
    }
}
/*Section 10 */
.section10{
	background-color:$back-footer;
	footer {
        .text-footer {
            color: white;
            padding-left: 25px;
        }
        .text-footer:hover {
            color: $rosa;
        }
    }
}