//funciones
@mixin buttonpage() {
    background-color: $color-btn;
    margin-top: 7px;
    color: white;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
}
@mixin box-shadow() {
    -webkit-box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
    box-shadow: 2px 2px 23px 0px rgba(50, 50, 50, 0.61);
}