/*aquí se realizan las variables generales que se ocuparan en la pagina*/
$fondo_detras_container:#e4e4e4;
$color_txt_base:#999999;
$color-container: #ffffff;
$color-navbar: transparent;
$color-btn: #e91e63;
$none: none;
$full-width: 100%;
$margin-carousel: 20%;
$color-text-nav: white;

/*pueden haber cambios de variables y orden en _bases.scss*/