/*aquí se realizan las variables generales que se ocuparan en la pagina*/
$fondo_detras_container:#e4e4e4;
$color_txt_base:#999999;
$color-container: #ffffff;
$color-navbar: transparent;
$color-btn: #e91e63;
$none: none;
$full-width: 100%;
$margin-carousel: 20%;
$color-text-nav: white;
$blanco: whitesmoke;
$titulos-destacados:#3c4858;
$back-footer: #313336;
$rosa: #e91e63;
$first-photos: #e91e63;
$second-photos: #00bed4;
$third-photos: #f24438;
$linkedin: #0976B4;
$tuiter: #55ACEE;
$gplus:#DD4B39;
$fbook: #3B5998;
$pinter: #CC2127;
$github:#333333;
$dribbble: #ED689C;

/*pueden haber cambios de variables y orden en _bases.scss*/